*{
  font-family: "Inconsolata", sans-serif;
}

p{
  line-height: 50px;
  font-weight: 400;
  color: #F2E5E5;
  text-shadow: #E8C4C4 1px 0 10px;
}

h1{
  text-align: center;
  font-size: 300px;
  color:#2B3A55;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

body{
  background-color: #2B3A55;
  overflow-x: hidden;
}

hr{
  margin-left: 30%;
  margin-right:30%;
  box-shadow: 0px 0px 20px #E8C4C4;
}

address{
  line-height: 50px;
  font-weight: 400;
  color: #F2E5E5;
  text-shadow: #E8C4C4 1px 0 10px;
  text-align: center;
  cursor: pointer;
}

.banner{
  width: 100%;
  height:720px;
  background-image: url(spectre.png);
  background-size:cover;
}

.content-area{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo{
  margin-left: 10px;
  margin-top: 10px;
  background-size: 70px;
  width: 100px;
  height: 100px;
  background-image: url('colorwheel2.png');
  background-repeat: no-repeat;
  position:fixed;
  filter: drop-shadow(0 0 0.75rem #CE7777);
}

.little{
  font-size: 40px;
}

.expectrum{
  background-image: url('expectrum.png');
  width: 100%;
  height: 960px;
  background-size: 100%;
  filter: drop-shadow(0 0 0.75rem #CE7777);
}

.triangle{
  background-image: url('triangle.png');
  float:right;
  margin-right: 10%;
  background-size: 500px;
  width: 500px;
  height: 500px;
  filter: drop-shadow(0 0 0.75rem #CE7777);
}

.container{
  padding: 50px;
  margin-top: 10px;
  margin-left: 10%;
  border-radius: 10px;
  font-weight: 400;
  text-transform: none;
  font-size: 50px;
  color:#F2E5E5;
  text-align: left;
  line-height: 50px;
  font-weight: 400;
}

.container2{
  margin-left: 15%;
  margin-right: 50%;
  font-size: 35px;
  color: #F2E5E5;
  text-shadow: #E8C4C4 1px 0 10px;
}
    
.button1{
  color: #2B3A55;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  margin-top: 100px;
  margin-left: 700px;
  background-color: #F2E5E5;
  box-shadow: 0px 0px 20px #E8C4C4;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: bolder;
}

.button2{
  color: #2B3A55;
  font-size: 30px;
  font-weight: 100;
  padding: 50px;
  margin-left: 40%;
  justify-content: space-evenly;
  background-color: #F2E5E5;
  box-shadow: 0px 0px 20px #E8C4C4;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: bolder;
}

.title{
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
  font-size: 50px;
  color:#F2E5E5;
  text-align: center;
  text-shadow: #E8C4C4 1px 0 10px;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin: 100px;
  padding: 50px;
}

.palettes{
    margin-top: 60px;
    border-radius: 15px;
    filter: drop-shadow(0 0 0.75rem black);
}

.item{
  background-image: url("palette.png");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #CE7777;
  border-radius: 10px;
}